################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spac/v17
/lommeregner/.vs/lommeregner
