################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spac/v17
/lommeregner/.vs/lommeregner
/lommeregner/lommeregner/x64/Release
/lommeregner/x64/Release
/uge1/lommeregner/x64/Debug
